<div class="container">
	<div class="row">
		<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
			<article>
				<p><a href="/blog">&larr; Назад на главную</a></p>
				<hr>
				<header>
					<h1>{{data.boat.title}}</h1>
					<h5>
						Цена: {{{data.boat.price}}}
					</h5>
				</header>
				<div class="post">
					{{{data.boat.content.extended}}}
				</div>
			</article>
		</div>
	</div>
</div>